    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Sif6d group</p>

                <li>Mila yuli Yanti <br>NIM : 11353203108</li></p>
                <p><li>Nofan Widiyarna <br>NIM : 11353103422</li></p>
                <p><li>Indra Firman <br> </li></p>
                <p><li>Widya ayu azhari <br></li></p>
                <p><a href="email:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>